@page "/userList"

@using System.Net.Http
@using System.Net.Http.Json
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inject HttpClient Http

<PageTitle>User List</PageTitle>

<h1>User List</h1>
<div class="w-100" style="display: flex; justify-content: center;">
    <table class="w-75">
        <tr class="text-center">
            <td class="col"></td>
            <td class="col" style="cursor: pointer" @onclick="SortColumn">Title</td>
            <td class="col" style="cursor: pointer">First Name</td>
            <td class="col" style="cursor: pointer">Last Name</td>
            <td class="col" style="cursor: pointer">User Id</td>
        </tr>
        <tr class="text-center" style="border-bottom-width: 2px">
            <td class="col"><button class="alert-danger rounded-3" @onclick="ClearSearch">Clear Search</button></td>
            <td class="col"><input id="titleFilter" size="10" @bind-value=TitleFilter @bind-value:event="oninput" @onchange="FilterSearch" /></td>
            <td class="col"><input id="firstNameFilter" size="10" @bind-value=FirstNameFilter @bind-value:event="oninput" @onchange="FilterSearch" /></td>
            <td class="col"><input id="lastNameFilter" size="10" @bind-value=LastNameFilter @bind-value:event="oninput" @onchange="FilterSearch" /></td>
            <td class="col"><input id="idFilter" @bind-value=IdFilter @bind-value:event="oninput" @onchange="FilterSearch" /></td>
        </tr>
        @foreach (var user in userList)
        {
            <tr style="@GetBackgroundColor(userList.IndexOf(user)); text-align: center">
                <td class="col">
                    <img src="@user.Picture" />
                </td>
                <td class="col">
                    @user.Title
                </td>
                <td class="col">
                    @user.FirstName
                </td>
                <td>
                    @user.LastName
                </td>
                <td>@user.Id</td>
            </tr>
        }
    </table>
</div>

@code {
    private List<User> userList = new List<User>();
    private List<User> masterList = new List<User>();
    private string TitleFilter = string.Empty;
    private string FirstNameFilter = string.Empty;
    private string LastNameFilter = string.Empty;
    private string IdFilter = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var client = new HttpClient();
        client.DefaultRequestHeaders.Add("app-id", "618bf0a5ce109fcdd5ef1e64");
        var result = await client.GetAsync("https://dummyapi.io/data/v1/user");
        var content = await result.Content.ReadAsStringAsync();

        if (content != null)
        {
            JObject json = (JObject)JsonConvert.DeserializeObject(content);
            var data = json["data"].ToString();
            userList = JsonConvert.DeserializeObject<List<User>>(data);
            masterList = JsonConvert.DeserializeObject<List<User>>(data);
        }
    }

    private void FilterSearch()
    {
        userList = masterList.Where(u =>
           u.Title.ToLower().ToLower().Contains(TitleFilter.ToLower())
           && u.FirstName.ToLower().Contains(FirstNameFilter.ToLower())
           && u.LastName.ToLower().Contains(LastNameFilter.ToLower())
           && u.Id.ToLower().Contains(IdFilter.ToLower())
        ).ToList();
    }

    private void ClearSearch()
    {
        TitleFilter = string.Empty;
        FirstNameFilter = string.Empty;
        LastNameFilter = string.Empty;
        IdFilter = string.Empty;

        FilterSearch();
    }

    private void SortColumn(EventArgs e)
    {
        Console.WriteLine("You clicked sort!");
    }

    private string GetBackgroundColor(int n)
    {
        return n % 2 != 0 ? "background-color: #dee2e6" : "background-color: #fffaeb";
    }
}
